<% if @stock %>
  <div class="card card-header d-inline mt-2">
    <strong>Symbol: </strong><%= @stock.ticker %>
    <strong>Name: </strong><%= @stock.name %>
    <strong>Price: </strong><%= @stock.last_price %>
    <% if current_user.can_track_stock?(@stock.ticker) %>
      <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), class: 'btn btn-success mb-1', method: :post %>
    <% else %>
      <span class="badge badge-warning">
        You are already tracking
        <% if !current_user.under_stock_limit? %>
          10 stocks
        <% elsif current_user.stock_already_tracked?(@stock.ticker) %>
          this stock
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>
