@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #fdf6ea !important;
}

.navbar-brand {
  font-size: 1.5rem;
}
  
h1 {
  color: blue;
}

.search-area {
  padding-top: 50px;
}

.user-name {
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}